/* 
WhatsApp Float Button
*/

.link-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 76px;
    right: 18px;
    background-color: #25d366;
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.link-whatsapp:hover {
    background-color: #21BD5B;
}

.i-whatsapp {
    margin-top: 16px;
}